body{
    background-color: #231955;
    font-family: Frutiger, "Frutiger Linotype", Univers, Calibri, "Gill Sans", "Gill Sans MT", "Myriad Pro", Myriad, "DejaVu Sans Condensed", "Liberation Sans", "Nimbus Sans L", Tahoma, Geneva, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.cls-1{fill:#827397;}.cls-2{fill:#c8b6d9;}.cls-3{fill:#363062;}.cls-4{fill:#4e4d7e;}.cls-5{fill:#9d84b7;}.cls-6{fill:#816797;}

.pin {
    position: absolute;
}

.world_container{
    position: fixed;
    width:100%;
    bottom:0px;
}

.dark{
    fill:#231955;
}

.area{
    transition: fill 2s ease-in-out;
    z-index: 0;
}

.bubble{
    position: absolute;
    width:20%;
    height:20%;
    background-color: white;
    border-radius:2vw;
    padding: 20px;
    font-size: 1vw;
    visibility: hidden;   
    opacity: 0; 
    transition: all 0.5s ease-in-out;
    box-shadow: 0px 0px 22px 10px #0000001c;
}

.visible{
    opacity: 1;
    visibility: visible;    
    transition: all 0.5s ease-in-out;
    transform: scale(1.1);
}

.citylights{
    fill:#231955;
    position: absolute;
    bottom: 0;
    filter: drop-shadow(0 0 40px #ffffff);
    z-index: -1;
    
   
}

#nord_bubble{
    bottom: 12%;
    left: 8%;
}

#suedwest_bubble{
    top: 5%;
    left: 45%;
}
#wattenscheid_bubble{
    top: 20%;
    right: 5%;
}
#mitte_bubble{
    bottom: 20%;
    right: 35%;
}
#sued_bubble{
    left: 30%;
    top: 5%;
}
#ost_bubble{
    top:25%;
    left:5%;
}


#pin1{
    top:25%;
    left: 20%;
    width: 3.5vw;
}

#pin2{
    top:40%;
    left: 35%;
    width: 5vw;
}

#pin3{
    bottom:20%;
    left: 65%;
    width: 8vw;
}

#pin4{
    top:5%;
    left: 80%;
    width: 3vw;
}